<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--
    <add key="iotHubConnectionString" value="HostName=SilhouetteHub.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=VJJSbrsOPUx9oOklDs2iQGNx6rpG62wyIyGQ5wLO+6c=" />
    <add key="storageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=silhouetteiotstore;AccountKey=Kqs/iRhopvVwfzIJ4+J6koASVAKPxx4dvRXCxqe3cqhHdlEQEWzRTZuSIRSDNubjH/sIm+Ym92iOgTYpbbCD7Q==" />
    -->
    <!-- Rachel test 
    <add key="iotHubConnectionString" value="HostName=iothubfordm.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=8qpPXxPoOEBD0gzPG5auAzLQXEXeMwjya4zGO3/rA24="/>
    <add key="storageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=silhouettedmstorage;AccountKey=ZvXGa0VzkTrLPur/jevH1Gt+Kqjyn8izGpvQDk2p/zsqXvcxOr9nrQ/PJn4li7uMuY1SyKa3c5ilzRpeglB/rQ=="/>
    --> 
    <!-- Nava test -->
    <add key="iotHubConnectionString" value="HostName=silhouette-tests.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=3GP77YoaR0+OXw8WX8DLKJiHUfbmr27XcSVSRi7Qi3s=" />
    <add key="storageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=iotteststore;AccountKey=q+DEpESjnsfza7umztyEVfgUU54RpHCn6uowWYzo78cjEugjCplAjPuKeMYS5AnlDKAZ0Q/ic8ImEGSQw54TKg==" />    
  </appSettings>
</configuration>
